<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ListenUp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A63AC8BE1F6F8477000E4C38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A63AC8D51F6F8477000E4C38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A63AC8E01F6F8477000E4C38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
